/*
CTC Separate Stylesheet
Updated: 2020-08-07 06:32:55
*/

// MAIN STYLES //

html {
	scroll-behavior: smooth;
}

.site-branding {
	.ast-site-identity {
		padding-top: 0;
	}
}

.position-relative {
	position: relative;
}

.left-10 {
	left: 10px;
}

.right-10 {
	right: 10px;
}



//*** NAVBAR ***//

#primary-menu {
	.menu-item {
		    margin: 0 0 0 9px;
		.menu-link {
			text-transform: uppercase;
			font-family: inherit;
			font-weight: 600;
			padding: 0 10px;
			height: 30px;
		    font-size: 16px;
			&:hover {
				color: #FFD100;
			}
			.menu-image {
				&:hover {
					filter: invert(16%) sepia(57%) saturate(2825%) hue-rotate(2deg) brightness(108%) contrast(102%);
				}	
				
			}
		}
	&.current_page_item {
		.menu-link {
				border-bottom: 2px solid #fff;
			}
		}
	}
}
.ast-mobile-menu-buttons {
	.ast-button-wrap {
		.menu-toggle {
			color: #fff;
			border: 1px solid #fff;
		}
	}
}


//*** HERO STYLES **//
.elementor-widget-wrap {

	.elementor-widget.hero-title {
			margin-bottom: 0;
		}
}
.hero-subtext {
	p {
		margin-bottom: 20px;
	}
}

.skew-button a.elementor-button.elementor-size-lg {
	transform: skew(-10deg);
	padding: 20px 59px;
	margin-left: 6px;
	span.elementor-button-text {
		transform: skew(10deg);
	}
}


//*** RIGHT PLAN SECTION STYLE ***//

.skew-button.absolute {
	transform: skew(-10deg);
	.elementor-button-link {
		    padding: 15px 65px 15px 65px;
		span.elementor-button-text {
			transform: skew(10deg);
		}
	}
}

.plan-list {
	ul {
		margin-left: 0;
		list-style-type: none;
		li {
			position: relative;
			&:after {
			content: "";
		    position: absolute;
		    top: 15px;
		    right: 0px;
		    width: 17px;
		    height: 13px;
		    background-image: url('../images/checkmark-yellow.svg');
		    background-repeat: no-repeat;
		    background-size: contain;
		    background-position: 50%;			}
		}
		li:nth-of-type(4n):after,
		li:nth-of-type(5n):after {
			background-image: url('../images/checkmark-orange.svg');
		}
		li:nth-of-type(6n):after,
		li:nth-of-type(7n):after,
		li:nth-of-type(8n):after {
			background-image: url('../images/checkmark-red.svg');
		}
	}
}

.left-10,
.right-10 {
	.plan-list {
		li:after {
			right: 15px;
		}
	}
}


//**** SHARE THE PASSION STYLES ***//

#share-the-passion {
	.astra-shop-summary-wrap {
	    position: relative;
        bottom: 19%;
    	margin-left: 20px;
	    .ast-woo-product-category {
	    	display: none;
	    }
	    .woocommerce-loop-product__title {
	    	color: #fff;
	    	font-weight: 500;
	    	font-size: 20px;
	    	margin-bottom: 0;
	    }
	    .price {
	    	color: #fff;
	    	font-weight: 700;
	    	font-size: 16px;
	    }
	    .add_to_cart_button {
	    	position: absolute;
		    right: 30px;
		    bottom: 0;
		    margin-bottom: 0;
		    background: #FFD100;
			color: #000;
			font-size: 11.2px;
		    font-weight: 700;
		    text-transform: uppercase;
		    border-radius: 0;
		    transform: skew(-10deg);
		    border: 2px solid #FFD100;
	        padding: 9px 22px;
		    &:hover {
		    	background: #000000;
		    	color: #FFD100;
		    }
		    &.added {
		    	display: none;
		    }
	    }
	    .added_to_cart {
    	    padding: 6px 20px;
	    	position: absolute;
		    right: 30px;
		    bottom: 0;
		    margin-bottom: 0;
		    background: #FFD100;
		    color: #000000;
		    font-size: 11.2px;
		    font-weight: 700;
		    text-transform: uppercase;
		    border-radius: 0;
		    transform: skew(-10deg);
		    border: 2px solid #FFD100;
		    &:hover {
		    	background: #000000;
		    	color: #FFD100;
		    }
	    }
	}
	.astra-shop-thumbnail-wrap {
	    a img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
	    	transition: all .2s linear;
	    	&:hover {
	    		opacity: 0.9;
	    		transition: all .2s linear;
	    	}
	    }
	}
}

#google-maps {
	.gallery {
		display: flex;
		justify-content: space-between;
		margin: 0;
		.gallery-item {
			   padding: 0;
	   		   max-width: 22%;
	   		&:nth-of-type(n+5) {
				display: none;
			}
		}

	}
}


//**** SUBSCRIBE FROM STYLE ***//

.wpcf7 {
	form {
		text-align: center;
		margin-left: -20px;
		p {
			display: inline-block;
			transform: skew(-10deg);
			margin: 0 5px;
				input[type="email"] {
				padding: 18px 18px;
				margin-right: 50px;
				margin-left: 35px;
				&::placeholder {
					font-size: 18px;
					margin-left: 20px;
				}
			}
			& + p {
				border: 2px solid #fff;
				transition: all .2s linear;
				margin-left: 34px;

				&:hover {
					background: #000;
				}
			}
			input[type="submit"] {
				padding: 19px 83px;
			    color: black;
				background: transparent;
				transform: skew(10deg);
			    font-weight: 700;
		        border-radius: 0;
		        margin-left: 25px;
		        transition: all .2s linear;

		        &:hover {
		        	color: rgb(255, 209, 0);;
		        }
			}
			.wpcf7-not-valid-tip {
				position: absolute;
			    top: -30px;
			    left: 30px;
			}
		}
		.wpcf7-response-output {
			width: 50%;
    		margin: 20px auto 0 auto;
    		transform: skew(-10deg);
		}
		label.error {
			position: absolute;
			top: -30px;
			font-size: 14px;
			left: 30px;
		}
	}
	.wpcf7-form .ajax-loader {
		background-image: url('../images/ajax-loader.png');
		width: 23px;
	    height: 23px;
	    margin-left: 10px;
	    position: relative;
	    right: 85px;
	    bottom: 2px;
	    background-repeat: no-repeat;
	    background-size: contain;
		animation: spin 2s linear infinite;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Custom CF7 Loader */



//**** GOOGLE MAPS  ***//

#google-maps-heading {
	z-index: 10;
	position: relative;
	top: 140px;
	padding: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out;
}

#google-maps {
	height: 875px;
	max-height: 100vh;
}

.gm-style .gm-style-iw-c {
	border-radius: 0;
	padding: 20px !important;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

.gm-style .gm-style-iw-d {
	overflow: auto !important;
}

.gm-ui-hover-effect {
	top: 0!important;
	right: 0!important;
	width: auto!important;
	height: auto!important;

	img {
		width: 32px!important;
		height: 32px!important;
	}
}

.gallery-item:nth-of-type(4) {
	position: relative;
}

.infowindow-gallery-show-more {
	display: flex;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	pointer-events: none;
	justify-content: center;

	&__text {
		align-self: center;
	}
}


//**** FOOTER ***//

#footer {
	#menu-footer-menu {
		    list-style: none;
		    margin-left: 0;
		    text-transform: uppercase;
		    line-height: 2.4;
	    .menu-item {
	    	color: rgba(255, 255, 255, 0.5);
	    	.menu-link {
	    		text-decoration: none;
	    		color: rgba(255, 255, 255, 0.5);
	    		transition: all .2s linear;
	    		&:hover {
	    			transition: all .2s linear;
	    			color: #FFD100;
	    		}
	    	}
	    }
	}
	.social-link {
		a {
    		text-decoration: none;
    		color: rgba(255, 255, 255, 0.5);
    		transition: all .2s linear;
    		&:hover {
    			transition: all .2s linear;
    			color: #FFD100;
    		}
		}
	}
}

//**** SMALLER DESKTOP VIEWPORT  ***//
@media (min-width: 922px) and (max-width: 1300px) {
	#hero  {
		padding: 200px 0 100px 0;
		.elementor-column-wrap {
			padding-left: 10px;
			padding-right: 10px;
		}
		.hero-subtext p {
			font-size: 26px;
		}
		.skew-button {
			margin: 10px 0;
			&:last-of-type {
				margin-left: -15px;
			}
		}
	}
	#right-way {
		padding: 80px 0 80px 0;
		margin: 0 auto;
		.elementor-column-wrap {
			padding-left: 10px;
			padding-right: 10px;
		}
		h2 {
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 15px;
		}
	}
	#share-the-passion {
	    margin-top: 40px;
    	margin-bottom: 60px;
	    padding-left: 15px;
    	padding-right: 15px;
		.products {
			margin-top: 20px;
			.product {
				width: 100%;
				margin: 0;
				.woocommerce-loop-product__title {
					font-size: 16px !important;
				}
			}
		}
	}
	#footer {
		.elementor-column-wrap {
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 0;
			margin-bottom: 20px;
		}
		.elementor-image {
		    margin-bottom: 50px;
		}
	}
}

@media (max-width: 1230px) {
	#right-plan {
		.left-10 {
		  left: 0;
		}
		.right-10 {
		right: 0;
		}

		.plan-list {
			li:after {
				right: 0;
			}
		}

		.elementor-row {
			.elementor-column-wrap {
				padding: 35px 30px 50px 30px;
			}
		}
	}
	#share-the-passion {
		.text-col .elementor-column-wrap {
			padding-right: 30px;
		}
	}
}

@media (max-width: 1024px) and (min-width: 768px){
  #right-plan .plan-list li:after {
  	right: -10px;
  }
  .skew-button.absolute .elementor-button-link {
  	padding: 15px 45px 15px 45px;
  }
  #right-plan .elementor-column-wrap .elementor-element .elementor-heading-title {
  	font-size: 22px;
  }
}

@media (max-width: 1024px) {
	#right-plan {
		.elementor-row {
			.elementor-column-wrap {
				.plan-list .elementor-text-editor ul {
					font-size: 16px;

					li {
						line-height: 20px;
						margin-bottom: 12px;

						&:after {
							top: 6px;
						}
					}
				}
			}
		}
	}
}

//**** TABLET VIEWPORT  ***//
@media (min-width: 768px) and (max-width: 922px) {
	h1 {
		font-size: 100px;
	}
	h2 {
		font-size: 46px !important;
	}
	#primary-menu .menu-item {
		.menu-link {
			color: #000;
			margin: 5px 0;
			border: none;
			.menu-image {
				filter: invert(100%) sepia(100%) saturate(7480%) hue-rotate(323deg) brightness(81%) contrast(99%);
				margin-top: -15px;	
			}
		}
		&:last-of-type {
			.menu-link {
				margin-bottom: 20px;
			}
		}
	}
	#hero  {
		padding: 200px 0 100px 0;
		.elementor-column-wrap {
			padding-left: 10px;
			padding-right: 10px;
		}
		.hero-subtext p {
			font-size: 26px;
		}
		.skew-button {
			margin: 10px 0;
			&:last-of-type {
				margin-left: -15px;
			}
		}
	}
	#right-way {
		padding: 80px 0 80px 0;
		margin: 0 auto;
		.elementor-column-wrap {
			padding-left: 10px;
			padding-right: 10px;
		}
		h2 {
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 15px;
		}
	}
	#share-the-passion {
	    margin-top: 40px;
    	margin-bottom: 60px;
	    padding-left: 15px;
    	padding-right: 15px;
		.products {
			margin-top: 20px;
			.product {
				width: 100%;
				margin: 0;
				.woocommerce-loop-product__title {
					font-size: 16px !important;
				}
			}
		}
	}

	.wpcf7 form {
		p+p {
			border: 2px solid #fff;
			-webkit-transition: all .2s linear;
			transition: all .2s linear;
			margin-left: 0;
		}

		input[type=email] {
			width: 90%;
		}
	}
	#footer {
		.elementor-column-wrap {
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 0;
			margin-bottom: 20px;
		}
		.elementor-image {
		    margin-bottom: 50px;
		}
	}
}

//**** MOBILE VIEWPORT  ***//

@media (max-width: 767px) {
	h1 {
		font-size: 65px;
	}
	h2 {
		font-size: 46px !important;
	}
	#primary-menu .menu-item {
		.menu-link {
			color: #000;
			margin: 5px 0;
			border: none;
			.menu-image {
				filter: invert(100%) sepia(100%) saturate(7480%) hue-rotate(323deg) brightness(81%) contrast(99%);
				margin-top: -15px;	
			}
		}
		&:last-of-type {
			.menu-link {
				margin-bottom: 20px;
			}
		}
	}

	#primary-menu .menu-item.current_page_item .menu-link {
		border: none;
	}
	#hero  {
		padding: 200px 0 100px 0;
		.elementor-column-wrap {
			padding-left: 10px;
			padding-right: 10px;
		}
		.hero-subtext p {
			font-size: 26px;
		}
		.skew-button {
			margin: 10px 0;
			&:last-of-type {
				margin-left: -15px;
			}
		}
	}

	#right-way {
		padding: 80px 0 80px 0;
		margin: 0 auto;
		.elementor-column-wrap {
			padding-left: 10px;
			padding-right: 10px;
		}
		h2 {
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 15px;
		}
	}

	#right-plan {
		.elementor-column-wrap {
			padding: 30px 20px;
			.elementor-inner-section {
				padding: 0;
				margin-top: 0;
			}
			.plan-list {
				.elementor-text-editor {
					margin-bottom: 100px;
				}
			}
			&:last-of-type {
				.contact-us .elementor-widget-container{
					margin-top: -60px;
				}
			}
		}
	}
	#google-maps {
		padding: 0;
	}
	#share-the-passion {
	    margin-top: 40px;
    	margin-bottom: 60px;
	    padding-left: 15px;
    	padding-right: 15px;
		.products {
			margin-top: 20px;
			.product {
				width: 100%;
				margin: 0;
				.woocommerce-loop-product__title {
					font-size: 16px !important;
				}
			}
		}
		.text-col .elementor-column-wrap {
			padding-right: 0;
		}
	}
	.wpcf7 form p {
		width: auto;
		position: relative;
    	left: 10px;
		input[type="email"] {
			width: 90%;
			margin: 0 0 20px 0;
		}
		& + p {
			margin-left: 0;
		}

		label.error {
			left: 12px;
		}
	}
	#footer {
		.elementor-column-wrap {
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 0;
			margin-bottom: 20px;
		}
		.elementor-image {
		    margin-bottom: 50px;
		    margin-left: 10px;
		}
	}
}

